.nav-social {
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  display: inline-flex;
}

.nav-social:hover {
  background: rgba(255, 255, 255, 0.4);
}

.nav-social svg, .nav-social i {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle !important;
}

.goober-slider {
    background: rgba(0,0,255, 0.2);
    position: relative;
    display: inline-flex;
    width:100%;
    max-width: 800px;
}

.goober-slider li {
  /*text-align: center;
  font-size: 18px;
  background: rgb(255,255,255,.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: inherit;
  overflow: hidden; 
  transition: width 2s;
  position: absolute;*/
  left: 0;
  width: 100%;
  background: rgba(140, 80, 40, 0.6);
  position: absolute;
  display: inline-block;
  transition: left 2s;
}

.goober-slider li.left {
  /*align-items:flex-end;*/
  left: -100%;
  background:red;
}
.goober-slider li.right {
  /*align-items:flex-start;*/
  left: 100%;
  background: green;
}
.goober-slider li.focus {
  /*width: 100%;*/
  left: 0;
  background: yellow;
}

.goober-slider img {
  /*display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;*/
}
